.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  transition: color 0.1s, background-color 0.2s;

  cursor: pointer;
}

.item:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  transform: scale(1.025);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
